body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 50px;
  min-height: 800px;
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.chart{
  max-width: 900px;
  height: 500px;
  padding: 50px;
  margin: 0 auto;
}

.chart .chart_types {
  display: flex;
  justify-content: space-between; /* Aligns buttons on the same line */
  gap: 10px; /* Adds space between the buttons */
  margin-bottom: 20px;
}

.chart .chart_types button {
  padding: 10px 20px;
  flex: 1; /* Makes all buttons equal width */
}


.action-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

.action-button:hover {
  background-color: #45a049;
}
