<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='historical.css') }}">
</head>

<body>
    <div class="container">
        <h1>Historical Data</h1>
        
        <div class="chart_types">
            <button class="action-button" onclick="window.location.href='/region'">
                Show Average Yield Based on Region
            </button>
            <button class="action-button" onclick="window.location.href='/crop_type'">
                Show Average Yield Based on Crop Type
            </button>
        </div>        
        <button onclick="window.location.href='/'" class="actionButton">Back to Home Page</button>
    </div>
</body>

</html>
