<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='avgyield.css') }}">
</head>

<body>
    <div class="container">
        <h1>Average Yield Based on Region</h1>
        <div class="chart">
            <div class="chart_types">
                <button class="action-button" onclick="setChartType('bar')">Bar</button>
                <button class="action-button" onclick="setChartType('line')">Line</button>
                <button class="action-button" onclick="setChartType('doughnut')">Doughnut</button>
                <button class="action-button" onclick="setChartType('polarArea')">PolarArea</button>
                <button class="action-button" onclick="setChartType('radar')">Radar</button>
            </div>
            <canvas id="myChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <br><br>
        <button onclick="window.location.href='/historical'" class="action-button">Back to Historical Data</button>
    </div>
    <script src="../static/region.js"></script>
</body>

</html>